<p>Для изменения пароля пройдите по ссылке:
    <strong>
        <a href="{{ link }}" target="_blank">{{ link }}</a>
    </strong>
</p>
<p><strong>Ссылка действительна в течении 10мин.<strong></p>
<br />
<p>Если вы не пытались изменить пароль  в приложении, проигнорируйте это письмо.</p>